<%
let person={
    name: 'Ayoub',
    age: 22,
    email: 'ayoubboussaidi10@gmail.com'
}
%>

<html>
    <h2>Person : <%=person.name%></h2>
    <h3>Age : <%=person.age%></h3>
    <h3>Email : <%=person.email%></h3>
</html>